
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Fira+Code:wght@300..700&family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    
}

body , html{
    background-color: rgb(22, 26, 29);
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: 0rem;
    height: 3rem;
    width: 100%;
    box-shadow: 0px 5px 40px rgb(0, 65, 131);
    background-color: rgba(46, 79, 112, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    animation: nav-neon 1s ease-in-out 0s 1 ;
    z-index: 9;
}

@keyframes nav-neon {
    0% {
    box-shadow: 0px 5px 40px rgba(0, 66, 131, 0);
}
    100% {
        box-shadow: 0px 5px 40px rgb(0, 65, 131);
    }
}

.logo-name {
    display: flex;
    height: 2rem;
    width: 5rem;
    position: absolute;
    top: 0.5rem;
    left: .525rem;
    flex-direction: row;
} 

#michel , #h , #EV {
    font-family: 'Alatsi' , sans-serif !important;
}

#h {
    color: rgb(0, 65, 131);
}

#EV {
    transform: translateX(-30%);
}
#l {
    font-size: 35px;
    transform: translate(-23% , -35%);
    font-weight: 500;
}


.contact {
    font-weight: 300;
    color: rgb(0, 65, 131);
    cursor: pointer;
    z-index: 10;
    transition: all 500ms ease;
    padding: 15px;
    text-align: center;


}

.skills-and-projects {
    font-weight: 300;
    color: rgb(0, 65, 131);
    cursor: pointer;
    z-index: 10;
    transition: all 500ms ease;
    padding: 15px;
    text-align: center;


}

.about {
    font-weight: 300;
    color: rgb(0, 65, 131);
    cursor: pointer;
    z-index: 10;
    transition: all 500ms ease;
    padding: 15px;
    text-align: center;


}

.home {
    font-weight: 300;
    color: rgb(0, 65, 131);
    cursor: pointer;
    z-index: 10;
    transition: all 500ms ease;
    padding: 15px;
    text-align: center;
    
}

.menu a {
    text-decoration: none;
}


.contact:hover , .skills-and-projects:hover , .home:hover , .about:hover {
    text-shadow: 0px 3px 20px rgb(0, 65, 131);
}

.left-side {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 50%;
    background-color: none;
}

.right-side {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 50%;
    background-color: none;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.hr {
    width: 22rem;
    height: 1px;
    box-shadow: 0px 3px 20px rgb(0, 65, 131);
    position: inherit;
    top: 20rem;
    left: 3rem;
    border-color: rgb(0, 65, 131);
}

.contact-methods {
    position: inherit;
    top: 21rem;
    left: 3rem;
    display: flex;
    flex-direction: row;

}

.instagram , .phone , .github , .gmail {
    height: 1.5625rem;
    padding-right: .625rem;
    padding-left: .625rem;
    cursor: pointer;
}


.phone-num {
    position: inherit;
    top: 20.9rem;
    left: 14rem;
    color: rgb(4, 87, 177);
    font-size: large;
}

.left-side h1 {
    position: inherit;
    top: 8rem;
    left: 3rem;
    color: rgb(190, 190, 190);
    font-size: 32px;
}

.left-side pre {
    position: inherit;
    top: 14rem;
    left: 3rem;
    color: rgb(190, 190, 190);
    font-size: large;
}



.wrapper {
    display: flex;
    position: inherit;
    top: 10.5rem;
    left: 3rem;
}
.wrapper .static-txt {
    color: rgb(190, 190, 190);
    font-size: 30px;
    font-weight: 400;
}

.wrapper .dynamic-txts {
    margin-left: 15px;
    line-height: 45px;
    height: 45px;
    overflow: hidden;
    
}

.dynamic-txts li{
    list-style: none;
    color: rgb(0, 65, 131);
    font-size: 30px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 8s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -175px;
    }
}

.dynamic-txts li {
    position: relative;
}

.dynamic-txts li::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(22, 26, 29);
    border-left: 2px solid rgb(0, 65, 131);
    animation: typing 2s steps(10) infinite;

}

@keyframes typing{
    40%,
    60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
}

.menu-icon {
    height: 2.5rem;
    position: absolute;
    top: 0.1rem;
    right: 0.5rem;
    cursor: pointer;

}

#menu-toggle:checked ~ .menu {
    transform: translateX(0);
}

.menu {
    height: calc(100% - 3rem);
    width: 12.5rem;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    top: 3rem;
    background-color: rgb(22, 26, 29);
    border-left: 1px solid rgba(0, 0, 0, 0.281);
    display: block;
    transition: transform 0.3s ease;
    z-index: 8;

}

.menu-icon-label {
    position: absolute;
    top: 0.1rem;
    right: 0.5rem;
    cursor: pointer;
    height: 2.5rem;
}

.image {
    height: 400px;
    transform: translateY(30%);
    border-radius: 50%;
    transition: all 1s ease;
}

.image:hover {
    box-shadow: 0px 5px 20px rgb(0, 65, 131);
}


.title-container , .title-container1 {
    position: absolute;
    top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    white-space: nowrap;
    width: 100%;
    
}

.curly-braces {
    color: yellow;
}

.title {
    color: rgb(0, 81, 161);
}

.about-section {
    width: 80%;
    height: fit-content;
    position: absolute;
    top: 9rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: rgba(0, 39, 77, 0.589);
    border: 2px solid rgba(0, 9, 17, 0.507);
    box-shadow: 0px 5px 20px rgb(0, 65, 131);
}

.about-top-bar {
    width: 100%;
    height: 2rem;
    background-color: rgba(0, 39, 77, 0.589);
    border-radius: 20px 20px 0 0 ;
    border-bottom: 1px solid rgba(0, 9, 17, 0.507);
    padding-bottom: .625rem;
    display: flex;
    align-items: center;
}

.about-speech {
    color: white;
    font-family: 'Fira Code' , monospace;
    white-space: normal;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

#green-circle , #yellow-circle , #red-circle {
    height: 10px;
    width: 10px;
    border-radius: 30px;
}
#green-circle {
    background-color: rgb(0, 173, 0);
}

#yellow-circle {
    background-color: yellow;
}

#red-circle {
    background-color: red;
}

.three-points {
    width: 60px;
    height: 100%;
    position: inherit;
    transform: translateY(5px);
    left: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}


.skills-section {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
.portal-circles {
    width: 10px;
    height: 100px;
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgb(0, 65, 131) ;
    background-color: rgb(0, 65, 131);
    filter: blur(3px);
}

.skills-container {
  /* width: 31.25rem; */
  width: 50%;
  overflow: hidden;
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.skills-track {
  display: flex;
  gap: 24px;
  animation: scroll 20s linear infinite;
  align-items: center;
  justify-content: center;

}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.skill-icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.skill-icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.projects-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem; /* adjust spacing between items */
  position: absolute;
  top: 24rem;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 3rem;
}

.project-box {
  width: 100%; /* Let the grid control the width */
  background: rgba(161, 161, 161, 0.479); /* or whatever matches your design */
  padding: 1rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.87) ;
  border: 1px solid rgba(255, 255, 255, 0.452);

}

#project-image {
  width: 100%;
  height: auto;
  border-radius: 3px;
  margin-bottom: 1rem;
}

#project-name {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffc5;
  font-family: 'Fira Code' , monospace;
}

.projects-section a {
    text-decoration: none;
}

.contact-box {
    padding: 20px;
    width: 60%;
    height: 70%;
    position: absolute;
    top: 9rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: rgba(0, 25, 49, 0.589);
    border: 2px solid rgba(0, 9, 17, 0.507);
    box-shadow: 0px 5px 20px rgb(0, 65, 131);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-box h1 {
    position: inherit;
    top: 10%;
    color: rgba(255, 255, 255, 0.705);
}

.form-class {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.form-group {
    display: grid;
    place-items: center;
    width: auto;
    text-align: center;
}

.btn-class {
    position: relative;
    top: 25px;
    cursor: pointer;
    background: rgb(0, 80, 161);
    color: black;
    border: none;
    border-radius: .625rem;
    height: 2.1875rem;
    width: 12.5rem;
    display: block;
    margin: 0 auto;
    transition: 0.3s ease;
    font-size: medium;
    font-weight: 500;
}

.btn-class:hover  {
    box-shadow: 0px 0px 20px rgba(0, 80, 161, 0.692);
}

.input-class {
    width: 40vw;
    height: 1.88rem !important;
    border-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.438);
    height: 1.3rem;
    padding: 2px 2px;
    padding-left: 10px;
    background: transparent;
    transition: 0.3s ease;
    color: white;
    position: relative;
    bottom: .27rem;
}

.textarea-class {
    width: 40vw;
    height: 3.5rem !important;
    border-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.438);
    height: 1.3rem;
    padding: 2px 2px;
    padding-left: 10px;
    background: transparent;
    transition: 0.3s ease;
    color: white;
    position: relative;
    bottom: .27rem;
}

.input-class::placeholder , .textarea-class::placeholder {
    color: rgba(255, 255, 255, 0.747);
    
}

.input-class:focus , .textarea-class:focus {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.success_message {
    border-radius: 10px;
    background-color: rgba(0, 25, 49, 0.445);
    border: 2px solid rgba(0, 9, 17, 0.507);
    box-shadow: 0px 5px 20px rgb(0, 65, 131);
    color: rgba(255, 255, 255, 0.712);
    position: inherit;
    bottom: 15%;
    padding: 5px;
    margin-left: 4px;
    margin-right: 4px;
    
}



@media (max-width: 768px) {
  .projects-section {
    grid-template-columns: 1fr; /* stack on smaller screens */
  }

  .title-container1 h1 {
    font-size: 15px;
  }
}



@media (max-width: 1024px) {
    .left-side {bottom: 0; width: 100%; height: 50%; text-align: center; justify-content: center;}
    .right-side {top: 0; width: 100%; height: 50%;}
    .left-side h1 {left: 50%; transform: translateX(-50%);}
    .wrapper {left: 50%; transform: translateX(-50%);}
    .left-side pre {left: 50%; transform: translateX(-50%);}  
    .hr {left: 50%; transform: translate(-50% , -15px);}  
    .contact-methods {left: 50%; transform: translate(-50%, -15px);}
    .phone-num {left: 50%; transform: translate(-50%, -15px); top: 23rem;}
}

@media (max-width: 655px) {
    .image {height: 300px;}
    .right-side { align-items: center; }
    .contact-box {width: 90%;}
    .contact-box h1 {font-size: 22px;}
    .input-class , .textarea-class {width: 60vw;}
    
}

@media (max-width: 526px) {
    .left-side h1 {font-size: 23px;}
    .left-side pre {font-size: 15px;} 
    .wrapper .dynamic-txts li {font-size: 23px;} 
    .wrapper .dynamic-txts {margin-left: 10px;}
    .wrapper .static-txt {font-size: 25px; }
    @keyframes slide {
        100% {
        top: -185px;
    }
    }

}

@media (max-width: 493px) {
    .left-side h1 {font-size: 21px;}
    .left-side pre {font-size: 13px;} 
    .wrapper .dynamic-txts li {font-size: 22px;} 
    .wrapper .dynamic-txts {margin-left: 10px;}
    .wrapper .static-txt {font-size: 22px; transform: translateY(3px);}
    .phone-num {font-size: 15px;}
    .instagram , .phone , .github , .gmail {
    height: 1.1rem;
    }
    .hr {
        width: 19rem;
    }
    
    @keyframes slide {
        100% {
        top: -182px;
    }
    }
}

@media (max-width: 493px) {
    .left-side h1 {font-size: 20px;}
    .wrapper .dynamic-txts li {font-size: 20px;} 
    .wrapper .static-txt {font-size: 22px; transform: translateY(3px);}

}