{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<div class="title-container"><h1 class="curly-braces">{</h1><h1 class="title">About Me</h1><h1 class="curly-braces">}</h1></div>

<div class="about-section">

    <div class="about-top-bar">
        <div class="three-points">
            <div id="green-circle"></div>
            <div id="yellow-circle"></div>
            <div id="red-circle"></div>
        </div>
    </div>

    <p class="about-speech">
I'm a self-taught developer who got started at 14, beginning with Python.
Since then, I've been driven by a desire
to build high-quality digital experiences and constantly improve my skills.
I've learned everything on my own through
free resources, personal projects, and consistent hard work.
I value discipline and doing things the right way not just the easy way.
i have a deep passion for learning. Whether it's coding, languages, or personal development
I stay committed to growth and long-term success.

If you believe in quality over shortcuts, we're aligned ;) .
    </p>
</div>

{% endblock content %}