{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<div class="greeting-section">

    <h1 class="home-title">Welcome to SamirStudio</h1>
    <h3 class="after-title">"professional video photography"</h3>

</div>

<div class="bottom-section">
    <div class="camera-container">
    <img class="camera" src="{% static 'images/camera.png' %}">
    
    <div class="lens-flash lens-flash1"></div>
    <div class="lens-flash lens-flash2"></div>
    <div class="lens-flash lens-flash3"></div>
    

    <div class="photo photo1">Baptism</div>
    <div class="photo photo2">Wedding</div>
    <div class="photo photo3">Graduation</div>
    </div>


    <h4 class="marketing-mark">powered by Michel.Dev</h4>


</div>



{% endblock content %}