{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<div class="title-container1"><h1 class="curly-braces">{</h1><h1 class="title">some tools and technologies I've used</h1><h1 class="curly-braces">}</h1></div>

<div class="skills-section">
    <span class="portal-circles"></span><div class="skills-container">

  <div class="skills-track" id="skillsTrack">
      <!-- <div class="skill-icon">
        <img src="{% static 'images/icons8-python-48.png' %}" alt="python">
      </div>
      <div class="skill-icon">
        <img src="{% static 'images/icons8-selenium-48.png' %}" alt="selenium">
      </div>
      <div class="skill-icon">
        <img src="{% static 'images/icons8-html5-48.png' %}" alt="html">
      </div>
      <div class="skill-icon">
        <img src="{% static 'images/icons8-css3-48.png' %}" alt="css">
      </div>
      <div class="skill-icon">
        <img src="{% static 'images/icons8-django-24.png' %}" alt="django">
      </div>
      <div class="skill-icon">
        <img src="{% static 'images/htmx-logo-png_seeklogo-554504-removebg-preview.png' %}" alt="htmx">
      </div>
      <div class="skill-icon">
        <img src="{% static 'images/icons8-figma-48.png' %}" alt="figma">
      </div>
      <div class="skill-icon">
        <img src="{% static 'images/download-removebg-preview.png' %}" alt="beautifulsoup">
      </div>
      <div class="skill-icon">
        <img src="{% static 'images/icons8-git-branch-64.png' %}" alt="git">
      </div> -->
  </div>

    </div><span class="portal-circles"></span>
</div>

<div class="title-container" style="top: 18rem;"><h1 class="curly-braces">{</h1><h1 class="title">projects</h1><h1 class="curly-braces">}</h1></div>

<div class="projects-section">
  <!-- {% for project in projects %}
    <a href="{{project.link}}" target="_blank" rel="noopner noreferrer"><div class="project-box">
      <img id="project-image" src="{% static 'images/projects-thumbnail.png' %}">
      <h3 id="project-name">{{project.name}}</h3>
    </div></a>
  {% endfor %} -->
</div>


<script>
  const track = document.getElementById('skillsTrack');
  const parent = track.parentNode;
  const clone = track.cloneNode(true);
  parent.appendChild(clone);
</script>


<!-- <div class="title-container"><h1 class="curly-braces">{</h1><h1 class="title">some projects I've worked on</h1><h1 class="curly-braces">}</h1></div> -->

{% endblock content %}